HOST=../src
SITE_PORT=8000

LARAVEL_DB=laravel
LARAVEL_USER=homestead
LARAVEL_PASSWORD=secret

MYSQL_VERSION=5.7
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306

PMA_PORT=8080
PMA_DB_ENGINE=mysql
